.nav{
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    background-image: linear-gradient(to right, #93A5CF,#E4EfE9);
    position: sticky;
    /* z-index: 90; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.logo{
    margin: 5px;
}
body{
    background-color: #282854;
    height: 100%;
    width: 100%;
}
.cnt{
    display: flex;
}
.welcome{
    position: absolute;
    right: 72px;
}
.profile-container {
    position: relative;
    display: inline-block;
    margin-right: 12px;

}

.profile-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 999 !important;
    display: none;
}

.profile-dropdown a{
    color: #000000;
    width: 200px;
    padding: 2px 8px;
    text-decoration: none;
    display: block;
}
.profile-dropdown p{
    padding: 2px 8px;
    font-weight: bolder;
}

.profile-image {
    border-radius: 50%;
    cursor: pointer;
}

.logout{
    font-weight: bolder;
}
/* .card{ */
    /* display: flex; */
    /* margin: 20px; */
    /* height: 500px; */
    /* width: 600px; */
/* }
.card-title{
    display: inline;
}
.card-price{
    margin-left: 170px;
    font-weight: 600;
    font-size: larger
} */

/* .card-container{
    display: flex;
    flex-wrap: wrap;
   
  }
  .card{
      margin: 19px;
      width: 720px;
      display: flex;
      flex-direction: row;
      height: 320px;
  }
  .card-price{
    font-size: larger;
    font-weight: bolder;
  } */
  .modal-price{
    font-size: larger;
    font-weight: bolder;
  }
  /* .image > img{
    height: 316px;
    object-fit: cover;
    padding: 40px 0px;
  } */
  /* .card-title{
    font-weight: bolder;
  }
  .card-text{
    height: 150px;
    overflow: auto;
  } */
  /* .card-body{
    z-index: 2;
  } */

.listu{
    list-style-type: none;
    display: inline;
    font-weight: bolder;
    margin-left: -140px;
}
.listu > a{
    text-decoration: none;
}
.listu > a:hover{
    text-decoration: underline;
}
.list{
    padding-left: 15px;
    display: inline;
    font-size: large;
    cursor: pointer;
    color: black;
}
.logout{
    margin-right: 12px;
}
.course-card-container {
    /* width: 400px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .course-card {
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    width: 350px;
    /* text-align: center; */
    margin-bottom: 20px;
    margin:20px;
  }

  .course-card > hr{
    margin: 6px;
  }
  
  .course-card img {
    width: 100%;
    height: 150px;
    border-radius: 5px;
    object-fit: contain;
    /* margin-bottom: 20px; */
  }
  
  .course-card h4 {
    margin-top: 0;
    text-align: center;
  }
  .course-card h5 {
    margin-bottom: 17px;
    text-align: center;
  }
  .course-card p {
    margin-left: 9px;
  }
  .course-card p > svg{
    margin-right: 5px;
    margin-top: -2px
  }
  
  .course-card button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    /* margin-top: 20px; */
  }
/* .profile-container {
    position: relative;
    display: inline-block;
    margin-right: 12px;

}

.profile-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 99999 !important;
    display: none;
}

.profile-dropdown a{
    color: #000000;
    width: 200px;
    padding: 2px 8px;
    text-decoration: none;
    display: block;
}
.profile-dropdown p{
    padding: 2px 8px;
    font-weight: bolder;
}

.profile-image {
    border-radius: 50%;
    cursor: pointer;
} */

/* .profile-container:hover .profile-dropdown {
    display: block;
/* } */
/* .logout{
    font-weight: bolder; */
