.nav{
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    background-image: linear-gradient(to right, #93A5CF,#E4EfE9);
    position: sticky;
}
.logo{
    margin: 5px;
}
body{
    background-color: #282854;
    height: 100%;
    width: 100%;
}
.listu{
    list-style-type: none;
    display: inline;
    font-weight: bolder;
    margin-left: -140px;
}
.listu > a{
    text-decoration: none;
}
.listu > a:hover{
    text-decoration: underline;
}
.list{
    padding-left: 15px;
    display: inline;
    font-size: large;
    cursor: pointer;
    color: black;
}
.logout{
    margin-right: 12px;
}
.profile-container {
    position: relative;
    display: inline-block;
    margin-right: 12px;

}

.profile-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 5;
    display: none;
}

.profile-dropdown a{
    color: #000000;
    width: 200px;
    padding: 2px 8px;
    text-decoration: none;
    display: block;
}
.profile-dropdown p{
    padding: 2px 8px;
    font-weight: bolder;
}

.profile-image {
    border-radius: 50%;
    cursor: pointer;
}

/* .profile-container:hover .profile-dropdown {
    display: block;
} */
.logout{
    font-weight: bolder;
}
.card{
    margin-bottom: 10px;
    background-color: linear-gradient(to right, #93A5CF,#E4EfE9);
}
.card-body>h4{
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
}
.card-text{
    color: rgb(8, 43, 242);
}
.items{
    display: flex;
    flex-wrap: wrap;
    margin: 15px 0px;
    justify-content: space-evenly;
}
.carousel-item{
    opacity: 0.8;
    z-index: -1;
}