.nav{
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    background-image: linear-gradient(to right, #93A5CF,#E4EfE9);
    position: sticky;
}
.logo{
    margin: 5px;
}
body{
    background-color: #282854;
    height: 100%;
    width: 100%;
}
.cnt{
    display: flex;
}
.card{
    /* display: flex; */
    margin: 20px;
    /* height: 500px; */
    /* width: 600px; */
}
.card-title{
    display: inline;
}
.card-price{
    margin-left: 170px;
    font-weight: 600;
    font-size: larger
}
.listu{
    list-style-type: none;
    display: inline;
    font-weight: bolder;
    margin-left: -140px;
}
.listu > a{
    text-decoration: none;
}
.listu > a:hover{
    text-decoration: underline;
}
.list{
    padding-left: 15px;
    display: inline;
    font-size: large;
    cursor: pointer;
    color: black;
}
.logout{
    margin-right: 12px;
}
.profile-container {
    position: relative;
    display: inline-block;
    margin-right: 12px;

}

.profile-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    display: none;
}

.profile-dropdown a{
    color: #000000;
    width: 200px;
    padding: 2px 8px;
    text-decoration: none;
    display: block;
}
.profile-dropdown p{
    padding: 2px 8px;
    font-weight: bolder;
}

.profile-image {
    border-radius: 50%;
    cursor: pointer;
}

.profile-container:hover .profile-dropdown {
    display: block;
}
.logout{
    font-weight: bolder;
}