.nav{
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    background-image: linear-gradient(to right, #93A5CF,#E4EfE9);
    position: sticky;
}
.menu{
    text-align: center;
}
.logo{
    margin: 5px;
}
body{
    background-color: #282854;
    height: 100%;
    width: 100%;
    background-image: url(h1.jpg);
}
.listu{
    /* list-style-type: none;
    display: inline;
    font-weight: bolder;
    justify-content: center;
    margin-left: 100px; */
    list-style-type: none;
    display: flex;
    justify-content: center; /* Center the menu horizontally */
    align-items: center; /* Center items vertically */
    font-weight: bolder;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}
.listu > a{
    text-decoration: none;
}
.listu > a:hover{
    text-decoration: underline;
}
.list{
    padding-left: 15px;
    display: inline;
    font-size: large;
    cursor: pointer;
    color: black;
}
.logout{
    margin-right: 12px;
}
.profile-container {
    position: relative;
    display: inline-block;
    margin-right: 12px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: large;

}

.profile-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 5;
    display: none;
}

.profile-dropdown a{
    color: #000000;
    width: 200px;
    padding: 2px 8px;
    text-decoration: none;
    display: block;
}
.profile-dropdown p{
    padding: 2px 8px;
    
}

.profile-image {
    border-radius: 50%;
    cursor: pointer;
}
.profile-container:hover .profile-dropdown {
    display: block;
}

/* .profile-container:hover .profile-dropdown {
    display: block;
} */
.logout{
    font-weight: bolder;
}
.image {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 20px;
    margin-right: 20px;
    width: 200px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}
/* .container {
    display: flex;
    align-items: center;
}
.admin {
    margin-left: 20px;
    color: #fff;
}
*/
.profile-container {
    position: relative;
    display: inline-block;
    margin-right: 12px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: large;
}

.profile-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    display: none;
}

.profile-dropdown a {
    color: #000000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.profile-image {
    border-radius: 50%;
    cursor: pointer;
}

.profile-container:hover .profile-dropdown {
    display: block;
}